.flex-box {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.App {
  height: 100vh;
  background-color: #282c34;
  color: white;
}

.app-header {
  color: cyan;
}

.game_container {
  text-align: center;
}

.alert_container {
  margin-top: 40px;
  min-height: 50px;
  border-radius: 3px;
  visibility: hidden;
}

.language_container {
  margin-top: 40px;
}

.language_badge {
  padding: 10px;
  border-radius: 8px;
  min-width: 50px;
  position: relative;
}

.type_container {
  margin-top: 40px;
}

.box-style {
  min-width: 40px;
  min-height: 40px;
  font-weight: bold;
  font-size: 18px;
}

.blankBox {
  background-color: gray;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 2px;
  color: white;
}

.keyboard_key {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4bb44;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}

.keyboard_container {
  margin-top: 40px;
}

.keys-container {
  max-width: 500px;
  margin: auto;
}

/* type 0 */
.error_alert {
  background-color: tomato;
  visibility: visible;
}
/* type 1 */
.warning_alert {
  background-color: #7a5ea7;
  visibility: visible;
}
/* type 2 */
.success_alert {
  background-color: green;
  visibility: visible;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 600;
  color: #000;
  padding: 4px 8px;
  border-radius: 4px;
  pointer-events: none;
  display: none;
}

.eliminate .actual-text {
  opacity: 0.3;
  pointer-events: none; /* prevents clicks */
}

.eliminate .overlay-text {
  display: block;
}

.new-game-btn {
  border: none;
  background-color: rgb(47, 204, 228);
  min-height: 30px;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.font-bold {
  font-weight: bold;
}

.missing-key {
  color: #EC5E4A;
}

.success_key {
  background-color: green;
}

.wrong_key {
  background-color: red;
}

.space-box {
  background-color: transparent;
  border: none;
}
